
.navbar ul
{
    background-color: rgb(3, 3, 149);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    list-style: none;
}
.navbar li a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.navbar li a:hover
{
    color: rgb(34, 159, 236);
    text-decoration:solid
}
.product
{
    background-color: rgb(18, 233, 244);
    padding: 10px;
    height: 250px;
    width: 250px;
}
.product h4
{
    font-size: 25px;
}
.product h5
{
    font-size: 20px;
}
.products
{
    display: flex;
    justify-content: space-around;
}
.product button
{
  padding: 8px;
  border-radius: 10px;
  background-color: blue;
 
}
.product button a{
text-decoration: none;
 color:white;
}
